*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
    width: 100%;
}
.left{
    background-color: #AD53A6;
    width: 40%;
    border: 1px solid #333;
    box-shadow: 20px 0px 5px -2px;
}

.content{
    padding:50px;
    display: flex;
    flex-direction: column;
}

.message{
    visibility: hidden;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

.right{
    background-color: #F9AAD0;
    width: 60%;
}

.img-div{
    background-image: url("cubes.png");
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.right-content{
    margin-left: 50px;
    height: 80%;
    width: 80%;
    backdrop-filter: blur(20px);
    border-radius: 16px;
    padding: 30px;
    font-family: "Montserrat", sans-serif;
    color:white ;
}
.cont-1{
    background-color:#AD53A6;
    width: fit-content;
    padding: 8px 10px;
}
.right-content h3{
    color: white;
}
#project{
    font-family: "Jersey 10", sans-serif;
    color: aliceblue;
    letter-spacing: 2px;
    font-size: 5rem;
    text-shadow: 4px 3px 4px rgba(66, 68, 90, 1);
}
#gen{
    font-family: "Tomorrow", sans-serif;
    font-size: 2rem;
    color: #5CE1E6;
    text-shadow: 4px 3px 4px rgba(66, 68, 90, 1);
}

form{
    margin-top: 20px;
}

.form-col{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label{
    font-size: 16px;
    color: aliceblue;
    font-family: "Inter", sans-serif;
    margin-bottom: 10px;
}
input{
    width: 80%;
    height: 50px;
    font-size: 20px;
    padding: 16px 10px;
    border-style: hidden;
    border-radius: 10px;
    color: #AD53A6;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
*:focus{
    outline: none;
}




.bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  
  .bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn21 {
    background-image: linear-gradient(
      to right,
      #fc6076,
      #ff9a44,
      #ef9d43,
      #e75516
    );
}


@media only screen and (max-width:600px){
    .main{
        display: block;
        width: 100%;
    }
    .left{
        height:100%;
        width:100%;
    }

}